<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	

	<p>
		Splurty was built by <a target="_blank" href="https://github.com/abrink27">Andrew Brink</a>: a brand new student of web development.
	</p>
	<br />
	<p>
			Andrew spent nearly a week working through all kinds of syntax errors to bring this simple web app to your screen. Please enjoy all the quotes you'd like. Be inspired!
		</p>
		<p>
			 If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'fb.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Andrew Brink</h2>
    <br />
    <p>
      Andrew Brink is a call center manager by day, and a beginner web developer by night. Andrew moved to Los Angeles from Phoenix, Arizona in 2014 to persue his dream of living somehwere that wasn't so damn hot. When he's not working, hes at the beach, playing old video games, or thinking of creative ways to pay off his remaining student loan debt.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>